
<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head'); %>
<body>

    <%- include('./partial/header'); %>


    <div class="uk-section uk-section-default">
        <div class="uk-container uk-container-small">
          <div id="result"></div>
          <div class="uk-width-medium-8-10">
            <h1>Edit <%= pageTitle%></h1>
        </div>  
        
          <form id="myForm" method="post" action="/cuti/edit" novalidate>
            <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-select">Pilih Karyawan</label>
              <div class="uk-form-controls">
                  <select  required class="uk-select" id="nik" name="nik">
                    <!-- <option value="<%= cuti.karyawanNik %>" selected="selected"><%= cuti.karyawanNik %></option> -->
                    <option value="">Karyawan</option>
                    <% daftarkaryawan.forEach((karyawan) => { %>
                        <option value="<%= karyawan.nik %>"> <%= karyawan.nik %> - <%= karyawan.nama %></option>
                     <% }); %>
                  </select>
              </div>
            </div>

            <input hidden value="<%= cuti.id %>" id="fullname" class="uk-input" type="text" name="id" required minlength="3" maxlength="60" pattern="^[a-zA-Z ]*$">

      
            <div class="uk-margin">
                <label class="uk-form-label">Tanggal Cuti</label>
                <input value="<%= cuti.tanggalcuti %>" required name="tanggalcuti" class="uk-input" type="date" id="uk_dp_1" data-uk-datepicker="{format:'DD/MM/YYYY'}">
                <span class="uk-text-danger"></span>
              </div>
            
            <div class="uk-margin">
                <label class="uk-form-label">Lama Cuti</label>
                <input value="<%= cuti.lamacuti %>" id="lamacuti" class="uk-input" type="text" name="lamacuti" required pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
                <span class="uk-text-danger"></span>
              </div>

              <div class="uk-margin">
                <label class="uk-form-label">Keterangan</label>
                <input value="<%= cuti.keterangan %>" id="keterangan" class="uk-input" type="text" name="keterangan" required pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
                <span class="uk-text-danger"></span>
              </div>
          
            <button class="uk-button uk-button-secondary" type="submit">Ubah</button>
            </form>
          
        </div> 
      </div> 
      <script>
        $(document).ready(function() {
            $('#nik').val('<%= cuti.karyawanNik %>');
        });
    </script>

</body>
</html>

