<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head'); %>

<body>
    <%- include('./partial/header'); %>

    <div class="uk-card uk-card-body">
        <div class="uk-width-medium-8-10">
          <h1>Daftar Karyawan</h1>
      </div>  
      <div class="uk-width-medium-2-10">
            <a class="uk-button uk-button-default uk-button-medium uk-button-secondary uk-align-right uk-margin-remove" href="/karyawan/add">
                Tambah <%= pageTitle%>
            </a>
      </div>
    </div>
    <% if (error_messages) { %>
      <div class="uk-card uk-card-body">
        <div class="uk-alert-warning" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <%= error_messages %>
      </div>
  <% } %>
  <% if (success_messages) { %>
    <div class="uk-card uk-card-body">
      <div class="uk-alert-success" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <%= success_messages %>
    </div>
  <% } %>


    <div class="uk-card uk-card-body">
        <div class="uk-overflow-auto">
            <table id="dt_default" class="uk-table uk-table-divider ">
                <thead>
                    <tr >
                        <th class="uk-text-left">nik</th>
                        <th class="uk-text-left">nama</th>
                        <th class="uk-text-left ">alamat</th>
                        <th class="uk-text-left">tanggal lahir</th>
                        <th class="uk-text-left">tanggal bergabung</th>
                        <th class="uk-text-left">Aksi</th>
                    </tr>
                </thead>
                <tbody >
                  <% daftarkaryawan.forEach((karyawan) => { %>
                <tr  >
                    <td><%= karyawan.nik%></td>
                    <td><%= karyawan.nama%></td>
                    <td><%= karyawan.alamat%></td>
                    <td><%= karyawan.tanggallahir%></td>
                    <td><%= karyawan.tanggalbergabung%></td>
    
                    <td>
                      <div class="uk-grid uk-grid-collapse uk-margin-remove ">
                        <div class="">
                          <form class="" action="/karyawan/edit %>" method="get">
                            <input type="hidden" value="<%= karyawan.nik %>" name="update">
                            <button id="edit" type="submit" class="uk-button uk-button-small uk-button-default edit" ><i class="material-icons md-24">mode_edit</button>
                          </form>
                        </div>
    
                        <div class="">
                          <form onsubmit="return confirm('Are you sure?');" action="/karyawan/delete" method="POST">
                                <!-- <a class="uk-text-large" href="/karyawan">cuti</a> -->
                              <input type="hidden" value="<%= karyawan.nik %>" name="nik">
                              <button id="delete" type="submit" class="uk-button uk-button-small uk-button-default delete" ><i class="material-icons md-24">delete</i></button>
                          </form>
                        </div>
                      </div>
                    </td>
                </tr>
                  <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    
<script>
    $(document).ready(function() {
    $('#dt_default').DataTable({
        responsive: true,
        "columnDefs": [
            {"className": "dt-center", "targets": "_all"}
          ]
    });
} );
</script>

</body>
</html>